.footerTop {
  background-color: #120540;
  color: white;
}

.footer-container {
  background-color: white;
}

.papya {
  margin-right: 0;
  padding-right: 0;
}

@media only screen and (min-width: 1680px) {
.papya {

  max-width: 82vw !important;
  padding-left: 0 !important;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1680px) {
// .papya {
//   max-width: 98vw !important;
//   }
}

@media only screen and (max-width: 990px) {
.papya {
  max-width: 99vw !important;
  }
}

.list-group a{
  color: white;
  text-decoration: none;
}

  .logos-container {
    gap: 2rem;
    margin-bottom: 1rem;
    
    @include respond-above(md) {
      gap: 1rem;
      justify-content: flex-end;
    align-items: flex-end !important;
    }
  }

.logo-text {
  color: white;
  font-family: $footer-text-font;
  font-size: 14px;
  line-height: 16.41px;
}

.link-list {
  a {
    font-family: $footer-text-font;
  }
}

.footer-bottom {
  background-color: white;
  width: 100%;

  .h5 {
    color: black;
    font-family: $footer-links-font;
    font-size: 20px;
  }

  .footer-bottom-info {
    p {
      font-family: $footer-text-font;
      font-size: 14px;
      color: #000000;
    }
    @include respond-above(md) {
      width: 40%;
    }
  }
  .footer-bottom-logos {
    @include respond-above(md) {
      width: 30%;
    }
  }
}

.footer-bottom-links a, h3 {
  color: black;
  padding-right: 30px;
  margin-bottom: 0;
  
  &:hover {
    color: black;
  }
}

h3 {
  font-family: $footer-links-font;
  font-size: 18px;
  margin-bottom: 0;
}

.print-font {
  font-family: $footer-bold-font;
  color: black !important;
}

.footer-bottom-logos img {
  max-width: 100%;
}

@media only screen and (min-width: 990px) {
  .footer-bottom-logos img {
    height: auto;
    width: auto;
    padding-left: 14px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 989px) {
  .links-col {
    padding-top: 0.5rem !important;
  }

  .footer-bottom-logos {
    padding-bottom: 1.5rem;
  }
  
  .footer-bottom-logos img {
    height: auto;
    width: auto;
    padding-left: 14px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .links-col {
    padding-top: 0.5rem !important;
  }

  .footer-links .footer-support-links .h5, 
  .footer-bottom-links .h5 {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .footer-links .footer-support-links a,
  .footer-bottom-links a {
    margin-bottom: 10px;
  }

  // .footer-bottom-info {
  //   p {
  //     padding-bottom: 1.5rem !important;
  //   }
  // }

  .footer-bottom-logos {
    padding-bottom: 1.5rem;
    // margin-left: 5%;
    gap: 1.25rem;
  }  
}



@media only screen and (max-width: 480px) {
  .logo-col {
    padding: 20px !important;
  }
  
  .links-col {
    padding-top: 0.5rem !important;
  }

  .footer-links .footer-support-links .h5, 
  .footer-bottom-links .h5 {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .footer-links .footer-support-links a,
  .footer-bottom-links a {
    margin-bottom: 10px;
  }

  .footer-bottom-logos {
    gap: 1.25rem;
    margin-left: 5%;
  }
}