// NOMENSA footer.scss
// REPLACE ./assets WITH /assets
.footerTop {
  background-color: #120540;
  color: white;
}

.link-list {
  a {
    font-family: $footer-links-font;
  }
}

.footer-bottom {
  background-color: white;
  width: 100%;
  .footer-bottom-info {
    p {
      font-family: $footer-text-font;
      font-size: 14px;
      color: #000000;
    }
    @include respond-above(md) {
      width: 40%;
    }
  }
  .footer-bottom-logos {
    @include respond-above(md) {
      width: 40%;
      margin-left: 17%;
    }
  }
}

.footer-top-links {
  color: white;

  .h5 {
    font-family: $footer-links-font;
  }

  a {
    color: white;
    display: block;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  .footerLink {
    font-family: $footer-text-font;
    font-size: 16px;
  }

  .logo-col {
    @include respond-below(sm) {
      padding: 1rem;
    }
    a {
      color: white;
      display: block;
      text-decoration: none;

      &:hover {
        color: white;
      }
    }
  }
  &.footer-links-social {
    background-position: left 82%;
    background-repeat: no-repeat;
    height: 100%;

    @include respond-above(md) {
      background-position: left 100% bottom 15%;
    }
  }
}

.logo-text {
  color: white;
  font-family: $footer-text-font;
  font-size: 14px;
  line-height: 16.41px;
  margin-top: 20px; 
}

.link-list {
  a {
    font-family: $footer-text-font;
  }
}

.footer-bottom {
  background-color: #ffffff;
  width: 100%;
  .footer-bottom-info {
    p {
      font-family: $footer-text-font;
      font-size: 14px;
      color: #000000;
    }
    @include respond-above(md) {
      width: 40%;
    }
  }
  .footer-bottom-logos {
    @include respond-above(md) {
      width: 40%;
      margin-left: 17%;
    }
  }
}

.footer-bottom-links {
  color: black;

  a {
    color: inherit;
  }
}

.h5-bottom {
  color: black;
  font-family: $footer-links-font;
  font-size: 20px;
}
