.ioe {
  &-col {
    background-color: white;
  }

  &-title {
    color: #120540;
    font-size: 24px;
  }

  &-text {
    color: #1c1c1c;
    font-size: 19px;
  }
}

.accordion {
  &-button {
    background-color: white;
    color: #130019;
    border-bottom: 0px;
    font-size: 20px;
    font-family: "dm-sans-medium", DMSans-Medium, sans-serif;
  }

  &-body {
    font-size: 19px;
    color: #181818;
  }
}
